<%- include("./layout/header") %>

<div class="container">
  <h2 class="categorie-Id">categories</h2>
  <a href="/add_categorie" class="btn btn-primary">Add a new categorie</a>

  <br /><br />


  <div class="container mt-5">
    <% if (message) { %>
      <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <strong><%= message.message %></strong>
      </div>
  <% } %>
</div>
    <table class="table table-striped sorting">
    <thead>
      <tr class="home">
        <th>Id</th>
        <th>Category</th>
        <th>Description</th>
        <th>Status</th>
        <th>Created Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% categories.forEach((catgorie) => { %>

      <tr>
        <td><%= catgorie.id %></td>
        <td><%= catgorie.category %></td>
        <td><%= catgorie.desc %></td>
        <td><%= catgorie.status %></td>
        <td><%= catgorie.createdAt %></td>

        <td>
          <a
            href="/edit-categorie/<%= catgorie._id %>"
            aria-label="Edit User"
            Id="Edit User"
            class="action-link"
          >
            <i class="fas fa-edit fa-lg mx-1 text-success"></i>
          </a>
          <a
            href="/delete-categorie/<%= catgorie._id %>"
            aria-label="Delete User"
            Id="Delete User"
            class="action-link"
          >
            <i class="fas fa-trash fa-lg mx-1 text-danger"></i>
          </a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include("./layout/footer") %>
