<%- include('./layout/header') %>
    <div class="container">

        <h2 class="employers-id">Edit a employers</h2>
        <a href="/employers" class="btn btn-primary">Back to all employerss</a>
        <br><br>




        <form method="post" action="/edit-employer/<%= id %>">

    
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name" value="<%= employer.name %>">
            </div>


            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" name="email" placeholder="Email" value="<%= employer.email %>">
            </div>


            <div class="form-group">
                <label for="status">Status</label>
                <input type="text" class="form-control" name="status" placeholder="status" value="<%= employer.status %>">
            </div>


            <button class="btn btn-primary mt-3 ">Submit</button>
        </form>
    </div>
    <%- include('./layout/footer') %>